html,
body,
#root {
  height: 100%;
  margin: 0;
}


.ant-layout {
  display: flex;
}

.ant-layout-sider {
  width: 20%;
  flex: 0 0 20%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
}

.site-layout {
  margin-left: 20%;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.ant-layout-header,
.ant-layout-content,
.ant-layout-footer {
  width: 100%;
}